@page "/"
@using TODO_App_lab.Services.Interfaces
@inject ITodoItemRepository _repository;

@if (Items is null || !Items.Any())
{
    <div class="alert alert-light" role="alert">
        Nie dodano jeszcze żadnych zadań!
    </div>
}
else
{
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var n in Items)
            {
                <TodoListItem Item="@n" OnDeleteAction="DeleteItem"></TodoListItem>
            }
        </ul>
    </div>
}

@code {
    public List<TodoItem> Items { get; set; }

    protected override void OnInitialized()
    {
        Items = _repository.GetAll();
    }

    public void DeleteItem(TodoItem item)
    {
        Items.Remove(item);
    }
}
