@page "/impexp"
@inject ICsvManager _csvManager
<button type="button" class="btn btn-primary btn-lg" style="margin: auto; width:95vw" @onclick="() => _csvManager.ExportToCsv()">Export Data To CSV</button>