<DetailsModal Item="@Item" OnDeleteAction="OnDeleteAction" @ref="Modal"></DetailsModal>

<li class="list-group-item btn btn-primary" @onclick="() => Modal.Open()">
    @Item.Title
</li>

@code {
    [Parameter]
    public TodoItem Item { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnDeleteAction { get; set; }

    public async Task OnDelete()
    {
        await OnDeleteAction.InvokeAsync(Item);
    }

    DetailsModal Modal { get; set; }
}
